button {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
  }
  
  button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }